.explorer__options {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 8px;
}

.explorer__options__navigation-btn {
  background-color: inherit;
  border-style: none;
  width: 40px;
}

.explorer__options__title {
  font-size: 16px;
  text-align: center;
}

.explorer__options__list {
  display: flex;
  flex-direction: column;
  flex: 1;
  list-style-type: none;
  padding: 8px;
  margin: 0;
}

.explorer__options__list__item {
  margin: 4px 0;
  display: flex;
  gap: 8px;
}

.explorer__options__list__item-btn {
  border-style: none;
  padding: 8px 0;
  width: 100%;
  font-weight: 800;
  border-radius: 8px;
}
