.message {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.message__navigation {
  display: flex;
  justify-content: flex-end;
  padding: 0 8px;
}

.message__navigation-btn {
  background-color: inherit;
  border-style: none;
  width: 40px;
}

.message__title {
  display: flex;
  padding: 0 8px;
}

.message__title > h1 {
  font-size: 16px;
}

.message__footer {
  display: flex;
  justify-content: flex-end;
}

.message__list__hint {
  font-size: 12px;
  text-align: center;
}

.message__list__hint--light {
  color: rgb(120, 120, 120);
}

.message__list__hint--dark {
  color: rgb(220, 220, 220);
}

.message__messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  list-style-type: none;
  padding: 0 8px;
  margin: 0;
}

.message__messages__item {
  display: flex;
  flex-direction: column;
  padding: 4px;
  margin: 4px 0;
}

.message__owner {
  background-color: rgb(32, 32, 32);
  margin-right: 16px;
}

.message__foreign {
  background-color: rgb(97, 97, 97);
  margin-left: 16px;
}

.message__messages__message {
  
}

.message__messages__message > span {
  margin: 0;
  padding: 0;
}

.message__messages__message > button {
  margin-left: 8px;
  background-color: unset;
  border-style: none;
  color: inherit;
  font-size: inherit;
}

.message__messages__message__footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 4px;
}

.message__messages__message__footer > p {
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
}

.full-message > p {
  padding: 0 8px;
}