.explorer__list__container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.explorer__navigation {
  display: flex;
  justify-content: flex-end;
  padding: 0 8px;
}

.explorer__header__path {
  display: flex;
  align-items: center;
}

.explorer__header__path-btn {
  background-color: inherit;
  border-style: none;
  height: 24px;
}

.explorer__header__path-btn > svg {
  width: 20px;
  height: 20px;
}

.explorer__header__spacer {
  margin: 0 8px;
}

.explorer__navigation-btn {
  background-color: inherit;
  border-style: none;
  width: 40px;
}

.explorer__header__options {
  display: flex;
  justify-content: flex-end;
}

.explorer__header__options-btn {
  background-color: inherit;
  border-style: none;
  width: 30px;
  margin-right: 5px;
}

.explorer__header__information {
  display: flex;
  justify-content: space-between;
}

.explorer__header {
  flex-direction: column;
}

.explorer__list {
  display: flex;
  flex-direction: column;
  flex: 1;
  list-style-type: none;
  padding: 0 8px;
  margin: 0;
}

.explorer__list__hint {
  font-size: 12px;
  text-align: center;
}

.explorer__list__hint--light {
  color: rgb(120, 120, 120);
}

.explorer__list__hint--dark {
  color: rgb(220, 220, 220);
}

.explorer__list__item {
  display: flex;
  justify-content: space-between;
}

.explorer__list__item__col {
  display: flex;
  align-items: center;
}

.explorer__list__item__icon {
  width: 40px;
}

.explorer__list__item__icon > svg {
  width: 30px;
}

.explorer__list__item__icon-btn {
  background-color: inherit;
  border-style: none;
}

.explorer__list__item__icon-btn > svg {
  width: 30px;
}

.explorer__list__item > p {
  padding: 0 8px;
  margin: 0;
  align-self: center;
}
