.settings {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.settings__row {
  display: flex;
  margin: 1rem;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.settings__row > button {
  background-color: inherit;
  border-style: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.settings__row > button > svg {
  width: 30px;
}