.status {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.status > div:last-child {
  justify-content: flex-end;
}

.status__col {
  display: flex;
  flex: 1;
}

.status__col > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.2rem;
}

.status__centre {
  justify-content: center;
  display: none;
}

@media screen and (min-width: 500px) {
  .status__centre {
    display: flex;
  }
}

.status__signal-cellular > svg {
  width: 20px;
}

.status__copy-src > button {
  border-style: none;
  background-color: unset;
}

.status__copy-src > button > svg {
  width: 20px;
}

.status__sleep-in > svg {
  width: 20px;
}
