.video-player {
  display: flex;
  flex: 1;
}

.video-player__player-container {
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-player__player-container > h1 {
  font-size: 16px;
}

.video-player__fake-player {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(250, 250, 250);
  background-color: rgb(5, 5, 5);
  width: 100%;
  height: 150px;
}

.video-player__fake-player > button {
  background-color: inherit;
  border-style: none;
  border-radius: 50%;
}

.video-player__fake-player > button > svg {
  width: 50px;
  height: 50px;
  fill: rgb(250, 250, 250);
}

.video-player__information {
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-player__information > button {
  border-style: none;
  padding: 8px 0;
  width: 100%;
  font-weight: 800;
  border-radius: 8px;
}
